.home-body {
    height: 100%;
    .home-headers {
        text-align: center;
        background-color: black;

        .header-banner {

            h1{
                font-weight: 200;
                margin: 0 auto;
                color: white;
                span {
                    font-style: italic;
                }
            }

        }
    }
}

.sorting {
    width: fit-content;
    margin: 10px auto 20px auto;

    input {
        padding: 10px;
        border: none;
        border-bottom: 2px solid #ebebeb;

        &:focus {
            outline: none;
            border-bottom-color: #58c791;
        }

        &:hover {
            border-bottom-color: #58c791;
        }
    }

    select {
        border: none;
        padding: 10px;
    }
}

#errand-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 20px auto;
}

h2{
    text-align: center;
}
.errand-card {
    box-shadow: 0 3px 10px rgb(44 44 45 / 10%) , inset 0 0 0 1px rgb(44 44 45 / 10%);
    height: 400px;
    width: 250px;
    margin: 10px;
    border: lightgrey;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    overflow: scroll;

    a {
        text-decoration: none;
        color: black;
    }

    .item-details {
        text-align: center;
        font-weight: bold;
        margin: 10px auto;
        color: black;
    }

    p {
        font-size: small;
        margin: 3px auto 0 auto;
    }

    .card-body {
        height: 50%;
        overflow: scroll;
        text-decoration: none;
        color: black;

    }

    .card-like {
        float: right;

    }
    &:hover {
        transform: scale(1.1);
    }
    
}

.card-image {
    height: 40%;
    display: flex;

    img {
        margin: 10px auto 2px auto;
        width: 85%;
        object-fit: contain;
        border-radius: 5px;
    }
}

.card-like {
    margin: 15px 25px 0 0 ;
}

@media screen and (max-width: 1025px){

    .main-container {
        width: 100vw;
        margin: auto 0;
    }

    #errand-container {
        width: 100%;
    }

    .errand-card {

        min-width: 250px;
    }

    .item-details {
        font-size: 1em;
    }

}

@media screen and (max-width: 805px){
    
    .header-banner {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 650px){
    .header-banner {
        font-size: 0.7em;
    }


}

@media screen and (max-width: 375px){
    .header-banner {
        font-size: 0.5em;
    }

}