.email-input, .password-input {
    width: 80%;
    padding: 10px 0;
    margin: 20px auto;
    border: none;
    float:left; 
    display: flex;         

    input {
        height:90%;
        border-radius: 3px;
        border: 1px solid #94C2ED;
        padding: 14px;
        color: black;
        width: 90%;
        font-size: 14px;
    }

    .fa-user, .fa-lock {
        position: relative;
        left: -25px;
        margin:auto 0;
      }
    
}

.login-btn {
    width: fit-content;
    border: 1px solid #94C2ED;
    background-color: white;
    margin: auto;
    border-radius: 3px;
    color: blue;
}