.mainshow-container {
    width: 70vw;
    margin: 0 auto;

  }

.accept-button {
    
    width: fit-content;
    border: 1px solid #94C2ED;
    background-color: white;
    margin: auto;
    border-radius: 3px;
    color: blue;
    padding: 10px 20px;
}

.show-container {

    display: flex;
    flex-direction: column;


    img {
        margin: 5px auto;

        max-height: 40vh;
    }

    .show-header {
        display: flex;
        flex-direction: column;
        margin: 20px 0 20px 0;
        border-top: 3px solid #999;
        border-bottom: 2px solid #999;
        padding:10px 0;

        p {
            margin-bottom: 2px;;
        }
        .summary {
            font-weight: 600;
            font-size: 2em;
        }

        .fees {
            font-weight: 600;
            font-size: 1.5em;
        }
    }

    .location-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 2px solid #999;
        margin: 10px 0;
    }

    .pickup-info, .deliver-info {

        margin: 20px 0;
        display: flex;
        justify-content: space-between;
    }

    .deliver-info {
        padding-top: 20px;
    }

}

.errand-guarantee {
    text-align: justify;
    border: 5px solid gray;
    margin: 5px auto 45px auto;

    div {
        display: flex;
        justify-content: center;
        width: 95%;
        margin: auto;
    }

    h2 {
        font-weight: 700;
    }
}

.dotted-lines {
    line-height: 1px;
    height: 1px;
    font-size: 1px;
    border-top: 2px dotted #999;
    margin: 10px auto 10px auto;
    width: 94%;
}


.seller-info {
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1em;

    h4 {
        margin: 5px auto 5px auto;
        text-align: center;
        font-weight: bold;
    }
    button {
        margin-bottom: 20px;
    }

    .seller-rep {

        .ratings {
            
            display: flex;
            justify-content: center;
           
            i {
                color: #FDCC0D;
            }
            
        }

        .smaller-h6 {
            text-align: center;
            font-size: 0.7em;
        }

    }
    

    .dotted-lines {
        line-height: 1px;
        height: 1px;
        font-size: 1px;
        border-top: 2px dotted #999;
        margin: 10px auto 10px auto;
        width: 94%;
    }

    .review-box{
        overflow: scroll;
        max-height: 300px;
        padding: 0;
        width: 100%;

        h5 {
            font-weight: bolder;
        }

        .reviews-list {
            width: 90%;
            text-align: left;
            margin: 40px auto;
        }

    }

}